<div class="container">
  <div class="row pt-3">
    <div class="col-6">
      <h1>Student Portal</h1>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-primary" (click)="open(content)">Add Student</button>
    </div>
  </div>
  <div>
      <h4 *ngIf="studentArr.length == 0" class="text-center" style="color:red">No Record Found . Add Student Details.</h4>
    </div>
    <div class="row mt-5">
        <div class="col-4" *ngFor="let item of studentArr">
          <div class="card h-100 border-0 shadow-lg">
            <div class="card-header bg-secondary text-light" style="font-weight:bold">
              <div class="row">
                <div class="col-6"><span class="card-style"> First Name : </span>{{item.fName | titlecase}}</div>
                <div class="col-6 text-right"><span class="card-style">Phone :</span> {{item.contact}}</div>
              </div>
              <div class="row"><div><span class="card-style">Last Name :</span> {{item.lName | titlecase}}</div></div>
            </div>
            <div class="card-body ">
              <p class="text-secondary" style="font-weight:bold"><span class="card-style">City : </span>{{item.city | titlecase}}</p>
              <p class="text-secondary" style="font-weight:bold"><span class="card-style">State : </span>{{item.state | titlecase}}</p>
            </div>
            <div class="card-footer  text-secondary bg-white border-top border-top-primary" style="font-weight:bold">
              <span class="card-style">Email : </span> {{item.email}}
              <button class="btn btn-primary m-2" (click)="onEditBtn(content,item)">Edit</button>
              <button class="btn btn-danger" (click)="onDeleteBtn(item.studentid)">Delete</button>
            </div>
          </div>
        </div>
      </div>
</div>


<ng-template id="content" #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="!isEditMode">Add Student</h4>
    <h4 class="modal-title" id="modal-basic-title"   *ngIf="isEditMode">Edit Student</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <form [formGroup]="userForm">
          <div class="mb-3">
            <label for="fullName" class="form-label">First Name</label>
            <input name="fullName" id="fullName" class="form-control" type="text" placeholder="Enter First name" formControlName="fName">
            <div *ngIf="userForm.get('fName')?.invalid && (userForm.get('fName')?.touched || userForm.get('fName')?.dirty)">
              <span *ngIf="userForm.get('fName')?.errors?.['required']">This Field is required</span>
              <span *ngIf="userForm.get('fName')?.errors?.['minlength']">First Name must be at least 4 characters long.</span>
              <span *ngIf="userForm.get('fName')?.errors?.['maxlength']">First Name cannot be more than 15 characters long.</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="LastName" class="form-label">Last Name</label>
            <input name="LastName" id="LastName" class="form-control" type="text" placeholder="Enter Last Name" formControlName="lName">
            <div *ngIf="userForm.get('lName')?.invalid && (userForm.get('lName')?.touched || userForm.get('lName')?.dirty)">
              <span *ngIf="userForm.get('lName')?.errors?.['required']">This Field is required</span>
              <span *ngIf="userForm.get('lName')?.errors?.['minlength']">Last Name must be at least 2 characters long.</span>
              <span *ngIf="userForm.get('lName')?.errors?.['maxlength']">Last Name cannot be more than 15 characters long.</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="mobile" class="form-label">Contact</label>
            <input name="mobile" id="mobile" class="form-control" type="text" placeholder="Enter mobile number" formControlName="contact">
            <div *ngIf="userForm.get('contact')?.invalid && (userForm.get('contact')?.touched || userForm.get('contact')?.dirty)">
              <span *ngIf="userForm.get('contact')?.errors?.['required']">This Field is required</span>
              <span *ngIf="userForm.get('contact')?.errors?.['minlength']">Contact must be at least 11 characters long.</span>
              <span *ngIf="userForm.get('contact')?.errors?.['maxlength']">Contact cannot be more than 11 characters long.</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input name="city" id="city" class="form-control" type="text" placeholder="Enter City Name" formControlName="city">
            <div *ngIf="userForm.get('city')?.invalid && (userForm.get('city')?.touched || userForm.get('city')?.dirty)">
              <span *ngIf="userForm.get('city')?.errors?.['required']">This Field is required</span>
              <span *ngIf="userForm.get('city')?.errors?.['minlength']">City must be at least 3 characters long.</span>
              <span *ngIf="userForm.get('city')?.errors?.['maxlength']">City cannot be more than 15 characters long.</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input name="state" id="state" class="form-control" type="text" placeholder="Enter State Name" formControlName="state">
            <div *ngIf="userForm.get('state')?.invalid && (userForm.get('state')?.touched || userForm.get('state')?.dirty)">
              <span *ngIf="userForm.get('state')?.errors?.['required']">This Field is required</span>
              <span *ngIf="userForm.get('state')?.errors?.['minlength']">State must be at least 2 characters long.</span>
              <span *ngIf="userForm.get('state')?.errors?.['maxlength']">State cannot be more than 15 characters long.</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input name="email" id="email" class="form-control" type="email" placeholder="Enter email address" formControlName="email">
            <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)">
              <span *ngIf="userForm.get('email')?.errors?.['required']">This Field is required</span>
              <span *ngIf="userForm.get('email')?.errors?.['email']">Enter Valid Email</span>
            </div>
          </div>
        </form>
  </div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Close</button>
<button [disabled]="userForm.controls['fName'].invalid || userForm.controls['lName'].invalid || userForm.controls['contact'].invalid || userForm.controls['city'].invalid || userForm.controls['state'].invalid || userForm.controls['email'].invalid"  type="button" class="btn btn-primary" (click)="onSaveBtn(userForm.value)"  *ngIf="!isEditMode">Save</button>
<button type="button" class="btn btn-primary" *ngIf="isEditMode" (click)="onUpdate()">Update</button>
  </div>
</ng-template>